node-red/flows.json
[{"id":"22fb39bc.00f4c6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5e759ae1.3a7f84","type":"server","z":"","name":"Home Assistant"},{"id":"17dbdd43.c1a3a3","type":"server-state-changed","z":"22fb39bc.00f4c6","name":"GarageDoorOpen","server":"5e759ae1.3a7f84","entityidfilter":"binary_sensor.garage_door","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":130,"y":100,"wires":[[],["88a829fd.077128"]]},{"id":"88a829fd.077128","type":"delay","z":"22fb39bc.00f4c6","name":"5 Min Delay","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":100,"wires":[[]]},{"id":"6a0ee4b6.80707c","type":"api-call-service","z":"22fb39bc.00f4c6","name":"NotifyGarageStillOpen","server":"5e759ae1.3a7f84","service_domain":"homeassistant","service":"notify.pushnotify_michaelsphone","data":"{\"message\":\"GarageDoor has been open for 5 minutes.\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":580,"y":100,"wires":[[]]},{"id":"cf131678.2b98b8","type":"server-state-changed","z":"22fb39bc.00f4c6","name":"GarageDoorClosed","server":"5e759ae1.3a7f84","entityidfilter":"binary_sensor.garage_door","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":130,"y":160,"wires":[[],["3a07f799.2089c8"]]},{"id":"3a07f799.2089c8","type":"change","z":"22fb39bc.00f4c6","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":160,"wires":[["88a829fd.077128"]]},{"id":"dd9b31f6.b4b3a","type":"inject","z":"22fb39bc.00f4c6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":20,"wires":[["6a0ee4b6.80707c"]]}]